<table role="grid" {{aria-grid (with-default @isMac false)}} ...attributes>
  <thead>
    <tr>
      {{!-- TODO: recreate helpers if needed in tests--}}
      {{#each (repeat (with-default @columns 2)) as |num|}}
        <th tabindex="-1">{{num}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each (repeat (with-default @rows 2)) as |row|}}
      <tr>
        {{#each (repeat (with-default @columns 2)) as |col|}}
          {{!-- template-lint-disable require-context-role --}}
          <td role="cell" tabindex="-1" id="cell-{{col}}x{{row}}-of-{{@columns}}" data-position="({{col}}, {{row}})">
            ({{col}}, {{row}})
          </td>`
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
